body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9; /* Soft green background */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(120deg, #a5d6a7, #81c784);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

#frontPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}
